:root {
    --theme: #000000;
    --passive: #00FF00;
    --active: #00AA00;
    --coaster: #888899;
}

* {
    font-family: "Ubuntu", sans-serif !important;
}

body {
    /* Size */
    max-width: 540px;
}

#particles {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}